body {
    color: #333;
}

.card {
    border-radius: 6px;
    padding: 12px;
    background: rgba(#aaa, 0.25);
    margin-bottom: 24px;

    .card {
        background: rgba(#aaa, 0.5);
    }
}

.circle {
    border-radius: 100%;
    background: #ccc;
    display: inline-block;
}

button {
    padding: 6px 12px;
    background: transparent;
    border: 1px solid;
}

.text-center {
    text-align: center;
}

em {
    color: #999;
}

.text-white {
    color: #fff;
}