//===========================
// Fill Containers
//---------------------------
//
//===========================
// Area to be filled by child
.container-fill {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

// Stacked and stretch to fill y-axis and x-axis
.container-fill-y {
    @extend .container-fill;

    align-items: stretch;
    flex-direction: column;
}

// Stretch to fill x-axis and center vertically
.container-fill-x-center {
    @extend .container-fill;

    align-items: center;
}

// Stacked tretch to fill y-axis and center horizontally
.container-fill-y-center {
    @extend .container-fill;

    align-items: center;
    flex-direction: column;
}

// Child of .container-fill to fill.
.fill {
    flex: 1 1 0%;
}

.fill-scroll {
    flex: 1 1 0;
    overflow: auto;
}