.gutter-section {
    margin-bottom: $base-unit * 6;
}

@mixin row($gutter-width) {
    .row {
        @include make-margin-x($gutter-width / 2 * -1);
    }
}

.row-gutter {
    margin-bottom: $grid-gutter-width;
}

.row-gutter-top {
    margin-top: $grid-gutter-width;
}

@mixin col-gutter($grid-gutter-width) {
    .col {
        @include make-padding-x($grid-gutter-width / 2);
    }
}

@mixin grid-gutter($dimension) {
    @include col-gutter($dimension);

    @include row($dimension);
}

@mixin row-helpers {
    .row-no-gutters {
        margin-left: 0 !important;
        margin-right: 0 !important;

        > .col {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}