@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);
// Font Families
$webfont-source: "https://s3.amazonaws.com/bdcom/webfonts";
$font-family-source-serif: $webfont-source + "/aleo";
$font-family-source-script: $webfont-source + "/begining-yoga";
@font-face {
    font-family: 'aleo';
    src: url("#{$font-family-source-serif}/light/Aleo-Light-webfont.eot");
    src: url("#{$font-family-source-serif}/light/Aleo-Light-webfont.eot?#iefix") format("embedded-opentype"),
    url("#{$font-family-source-serif}/light/Aleo-Light-webfont.woff") format("woff"),
    url("#{$font-family-source-serif}/light/Aleo-Light-webfont.ttf") format("truetype"),
    url("#{$font-family-source-serif}/light/Aleo-Light-webfont.svg#aleolight") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'aleo';
    src: url("#{$font-family-source-serif}/bold/Aleo-Bold-webfont.eot");
    src: url("#{$font-family-source-serif}/bold/Aleo-Bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("#{$font-family-source-serif}/bold/Aleo-Bold-webfont.woff") format("woff"),
    url("#{$font-family-source-serif}/bold/Aleo-Bold-webfont.ttf") format("truetype"),
    url("#{$font-family-source-serif}/bold/Aleo-Bold-webfont.svg#aleobold") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'beginning-yoga';
    src: url("#{$font-family-source-script}/beginning_yoga-webfont.eot");
    src: url("#{$font-family-source-script}/beginning_yoga-webfont.eot?#iefix") format("embedded-opentype"),
    url("#{$font-family-source-script}/beginning_yoga-webfont.woff2") format("woff2"),
    url("#{$font-family-source-script}/beginning_yoga-webfont.woff") format("woff"),
    url("#{$font-family-source-script}/beginning_yoga-webfont.ttf") format("truetype"),
    url("#{$font-family-source-script}/beginning_yoga-webfont.svg#beginning_yogaregular") format("svg");
    font-weight: normal;
    font-style: normal;
}