@mixin make-col-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

@mixin col-fill {
    // V1 Doesn't wrap text
    // -webkit-flex: 1 1 auto;
    // -ms-flex: 1 1 auto;
    // flex: 1 1 auto;

    // V2 Does wrap text
    // -webkit-flex: 1 1 0%;
    // -ms-flex: 1 1 0%;
    flex: 1 1 0%;
}
@mixin col-auto {
    flex: none;
}

@mixin columns-flexbox {
    .col-flex {
        @include make-col-flex;
    }

    .col-fill {
        @include col-fill;
    }
}