//===========================
// Grid Responsive Classes
//------------------------------------------------
//
//===========================
//  Grid Columns
.col-flex {
    @include col-flex;
}

.col {
    // @include col-flex;
    @include col-gutter;
}

@for $i from 1 through $grid-columns {
    .xs-#{$i} {
        @include make-column($i, $grid-columns);
    }

    .offset-left-xs-#{$i} {
        margin-left: make-offset($i, $grid-columns);
    }
}

.col-fill {
    @include col-fill;
}

.col-stack {
    width: 100%;
}