//===========================
// Grid Responsive Classes
//------------------------------------------------
//
//===========================
//  Grid Columns

@mixin make-grid-columns($screen-size, $column-count) {
    @for $i from 1 through $column-count {
        .#{$screen-size}-#{$i} {
            @include make-column($i, $column-count);
        }

        .offset-#{$screen-size}-#{$i} {
            margin-left: make-offset($i, $column-count);
        }

        .inset-#{$screen-size}-#{$i} {
            margin-left: make-offset($i, $column-count);
        }
    }
}

@if $bootstrap3 == false {
    @include make-grid-columns("xs", $grid-columns);
}

// Basic column
.col {
    // @include col-flex;
    // @include col-gutter;
    padding-left: 4px;
    padding-right: 4px;
}

.col-flex {
    @include col-flex;
}

.col-fill {
    @include col-fill;
}

.col-stack {
    width: 100%;
}