//===========================
// Flushing
//---------------------------
// Definition: completely level or even with another surface.
//---------------------------
//  Flushing is used to pull a container that is along the edge of the viewport margins over the edge.
//===========================

/*Container Flushing*/

.container-flush-left {
    margin-left: $viewport-margin * -1;
}

.container-flush-right {
    margin-right: $viewport-margin * -1;
}

.container-flush-both {
    @extend .container-flush-left;

    @extend .container-flush-right;
}

/*Row Flushing*/
$row-flushing-offset: ($viewport-margin + $grid-gutter-width / 2) * -1;

.row-flush-left {
    margin-left: $row-flushing-offset;
}

.row-flush-right {
    margin-right: $row-flushing-offset;
}

.row-flush-both {
    @extend .row-flush-left;

    @extend .row-flush-right;
}

/*Column Flushing*/

.col-flush-left {
    // Works only for column closest to the left
    @extend .container-flush-left;

    &[class*="col"] {
        padding-left: $viewport-margin + $grid-gutter-width / 2;
    }
}

.col-flush-right {
    // Works only for column closest to the right
    @extend .container-flush-right;

    &[class*="col"] {
        padding-right: $viewport-margin + $grid-gutter-width / 2;
    }
}

.col-flush-both, .col-flush-left.col-flush-right {
    // Works only for full-width columns such as col-xs-12 or col-fixed-24.
    @extend .container-flush-both;

    float: none;
    width: auto;

    &.col-xs-12 {
        padding-left: $viewport-margin + $grid-gutter-width / 2;
        padding-right: $viewport-margin + $grid-gutter-width / 2;
    }
}