// _scrolling.scss
//

@mixin grid-flexbox-scroll {
    .container-scroll-area {
        @include make-col-flex;

        @include row-stacked;

        overflow: hidden;
        flex-wrap: nowrap;
    }

    .scroll-area-header,
    .scroll-area-fixed {
        // Turn column into fixed header
        flex: none;
    }

    .scroll-area {
        overflow-y: auto !important;
        flex: 1 1 0px;
    }

    .scroll-area-footer {
        flex: none;
    }
}