.container-center {
    @include container-fill-y-center;
}

.item-center {
    flex: none;
}

.item-center-distribute {
    margin: auto;
}

.item-center-y {
    margin-top: auto;
    margin-bottom: auto;
}

.item-center-x {
    margin-left: auto;
    margin-right: auto;
}

.container-center-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1 1 0%;
    align-items: center;
    align-content: center;
    justify-content: center;
}