@mixin outline {
    background: transparent;
    border: 1px solid;
}

@mixin btn-ghost-active {
    background: white;
    color: $palette-primary;
}

@mixin btn-xs-1 {
    padding: 12px 24px;
    line-height: 24px;
}

@mixin btn-ghost {
    @include outline;

    border-radius: 50px;
    color: #666;
}

.btn-ghost {
    @include btn-ghost;

    &.btn-active,
    &:hover,
    &:active {
        @include btn-ghost-active;
    }
}

// Button sizes
.btn-small {
    padding: 3px 6px;
}