// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.
@media (min-width: $screen-sm-min) {
    @for $i from 1 through $proportions-total {
        .fixed-sm-#{$i} {
            width: make-proportions($i, $proportions-total, $base-unit * 10);
        }
    }
}

// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.
@media (min-width: $screen-md-min) {
    @for $i from 1 through $proportions-total {
        .fixed-md-#{$i} {
            width: make-proportions($i, $proportions-total, $base-unit * 15);
        }
    }
}

// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
@media (min-width: $screen-lg-min) {
    @for $i from 1 through $proportions-total {
        .fixed-lg-#{$i} {
            width: make-proportions($i, $proportions-total, $base-unit * 20);
        }
    }
}

// Extra Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
@media (min-width: $screen-xl-min) {
    @for $i from 1 through $proportions-total {
        .fixed-xl-#{$i} {
            width: make-proportions($i, $proportions-total, $base-unit * 25);
        }
    }
}