$proportions-total: 12;
@for $i from 1 through $proportions-total {
    .fixed-h-xs-#{$i} {
        min-height: make-proportions($i, $proportions-total, $base-unit * 5);
    }
}

// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.
@media (min-width: $screen-sm-min) {
    @for $i from 1 through $proportions-total {
        .fixed-h-sm-#{$i} {
            min-height: make-proportions($i, $proportions-total, $base-unit * 10);
        }
    }
}

// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.
@media (min-width: $screen-md-min) {
    @for $i from 1 through $proportions-total {
        .fixed-h-md-#{$i} {
            min-height: make-proportions($i, $proportions-total, $base-unit * 15);
        }
    }
}

// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
@media (min-width: $screen-lg-min) {
    @for $i from 1 through $proportions-total {
        .fixed-h-lg-#{$i} {
            min-height: make-proportions($i, $proportions-total, $base-unit * 20);
        }
    }
}

// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
@media (min-width: $screen-xl-min) {
    @for $i from 1 through $proportions-total {
        .fixed-h-xl-#{$i} {
            min-height: make-proportions($i, $proportions-total, $base-unit * 25);
        }
    }
}