.text-center {
    text-align: center;
}

.center {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

.truncate-line-1 {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.truncate-line-4 {
    display: -webkit-box;

    //Must be  -webkit-box  not display: flex;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

/* http://www.cssmojo.com/line-clamp_for_non_webkit-based_browsers/ */

// Helpers - Typogrpahy
.text-normal {
    font-weight: normal;
}

.text-light {
    font-weight: 300;
}

.text-bold {
    font-weight: 700;
}

.font-display {
    font-family: "aleo";
    font-weight: 300;

    &.text-bold, b {
        font-weight: 700;
    }
}

.font-script {
    font-family: 'beginning-yoga';
}

// Helpers - Typography
.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-inset-third {
    margin-top: (24 / 72 * -1em) !important;
}

.v-align-middle {
    vertical-align: middle;
}

.text-color-primary {
    color: #ff5400 !important;
}