@import "variables";
@import "base";
@import "utilities";
@import "fonts/**/*";
@import "elements/**/*";
@import "behaviors/**/*";
@import "helpers";
// Components
.btn-group {
    > .btn-link {
        display: inline-block;
        margin-right: 24px;
    }
}

a,
a:visited,
.btn-link {
    color: #ff5400;
    font-weight: 700;
    &:active,
    &:focus,
    &:hover {
        color: #ff8d04;
        text-decoration: none;
    }
}

.icon-arrow-right:after {
    content: " →";
    vertical-align: middle;
}

.icon-arrow-down:after {
    content: " ↓";
    vertical-align: middle;
}

summary {
    margin-bottom: 48px;
}



