//===========================
// Typography Variables
//------------------------------------------------
//
//===========================
//
// Fonts
$font-family-sans-serif: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$base-font-family: $font-family-sans-serif;
// Typography
$scale-1: 1; // 1.6
$scale-2: 18 / 16; // 1.125
$scale-3: 21 / 16; // 1.3125
$scale-3-5: 24 / 16; // 1.3125
$scale-4: 30 / 16; // 1.875
$scale-5: 36 / 16; // 2.25
$scale-6: 48 / 16; // 3
$scale-7: 64 / 16; // 3
$scale-8: 72 / 16; // 3
$font-size-base: 16/10;
// Colors
$red: #db1700;
$blue: #35a5d0;
$yellow: #ffb70b;
$purple: #7e4784;
$green: #b7d42b;