@mixin make-column-fixed($ratio, $max-width) {
    width: solve-proportion-for-numerator($ratio, $max-width);
}

@mixin columns-fixed($initials, $column-count, $grid-width, $gutter-width) {
	$gutter-count: $column-count - 1 ;
	$base-column-width: (($gutter-count * $gutter-width) - $grid-width) / $column-count * -1;

    @for $i from 1 through $column-count {
        .#{$initials}-fixed-#{$i} {
        	$gutter-adjustment: ($gutter-width * (1 + $i -1));
        	$column-width: $base-column-width * $i;
        	$column-with-gutters: $column-width + $gutter-adjustment;
            
			width: $column-with-gutters;
        }
    }
}