.card {
    @extend .indent-default;

    background: $bg-color-card;
    margin-bottom: 12px;
    border: 1px solid #eee;
    border-radius: 6px;
}

.card-group {
    margin-bottom: 12px;

    > .card {
        margin-bottom: -1px;
    }
}