@mixin viewport-margin {
    padding-left: $viewport-margin;
    padding-right: $viewport-margin;
}

@mixin col-gutter($grid-gutter-width) {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
}

@mixin make-column($column-count, $grid-columns-total) {
    width: $column-count / $grid-columns-total * 100%;
}

@function make-offset($column-count, $grid-columns-total) {
    @return $column-count / $grid-columns-total * 100%;
}

@mixin col-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

@mixin col-fill {
    // V1 Doesn't wrap text
    // -webkit-flex: 1 1 auto;
    // -ms-flex: 1 1 auto;
    // flex: 1 1 auto;

    // V2 Does wrap text
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
}

//===========================
// Flushing (TO DO: Convert to mixins)
//---------------------------
// Definition: completely level or even with another surface.
//---------------------------
//  Flushing is used to pull a container that is along the edge of the viewport margins over the edge.
//===========================

/*Container Flushing*/

@mixin container-flush-left {
    padding-left: 0;
}

@mixin container-flush-right {
    padding-right: 0;
}

@mixin container-flush-both {
    overflow-x: hidden;

    @include container-flush-left;

    @include container-flush-right;
}

// /*Row Flushing*/
$row-flushing-offset: ($viewport-margin + $grid-gutter-width / 2) * -1;

@mixin row-flush-left {
    margin-left: $row-flushing-offset;
}

@mixin row-flush-right {
    margin-right: $row-flushing-offset;
}

@mixin row-flush-both {
    flex: 1 1 0%;

    @include row-flush-left;

    @include row-flush-right;

    > col {
        flex: 1 1 auto;
    }
}

// /*Column Flushing*/

@mixin col-flush-left {
    // Works only for column closest to the left\
    padding-left: $viewport-margin + $grid-gutter-width / 2;
}

@mixin col-flush-right {
    // Works only for column closest to the right
    padding-right: $viewport-margin + $grid-gutter-width / 2;
}

@mixin col-flush-both {
    // Works only for full-width columns such as col-xs-12 or col-fixed-24.
    @include col-flush-left;

    @include col-flush-right;
}