@mixin viewport-margin {
    padding-left: $viewport-margin;
    padding-right: $viewport-margin;
}

@mixin col-gutter($grid-gutter-width) {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
}

@mixin make-column($column-count, $grid-columns-total) {
    width: $column-count / $grid-columns-total * 100%;
}

@function make-offset($column-count, $grid-columns-total) {
    @return $column-count / $grid-columns-total * 100%;
}

@mixin col-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

@mixin col-fill {
    // V1 Doesn't wrap text
    // -webkit-flex: 1 1 auto;
    // -ms-flex: 1 1 auto;
    // flex: 1 1 auto;

    // V2 Does wrap text
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
}