// _wrap.scss

@mixin container-wrap($container-name) {
    .#{container-name}-wrap {
        flex-wrap: wrap;
    }

    .#{container-name}-no-wrap {
        flex-wrap: nowrap;
    }

    .#{container-name}-wrap-reverse {
        flex-wrap: wrap-reverse;
    }
}