@mixin make-square($dimension) {
    width: $dimension;
    height: $dimension;
}

@mixin make-padding-x($dimension) {
    padding-left: $dimension;
    padding-right: $dimension;
}

@mixin make-padding-y($dimension) {
    padding-top: $dimension;
    padding-bottom: $dimension;
}

@mixin make-margin-x($dimension) {
    margin-left: $dimension;
    margin-right: $dimension;
}

@mixin make-margin-y($dimension) {
    margin-top: $dimension;
    margin-bottom: $dimension;
}