// Apple Phones
$iPhone-5: 320px;
$iPhone-6: 375px;
$iPhone-6-plus: 416px;

// Apple Tablets
$ipad-mini: 768px;
$ipad: 1024px;

// Apple Laptops
$macbook-pro-13-inch: 1280px;
$macbook-pro-15-inch: 1440px;

// Break Points
//
// Extra small screen / phone
$screen-xs: $iPhone-5;
$screen-xs-min-margin: 4px;
$screen-xs-margin: 8px;
$screen-xs-gutters: 8px;

// Extra small screen / Lg phones / Increment Margins
$screen-xs-transitional: $iPhone-6;
$screen-xs-transitional-min: $iPhone-6;
$screen-xs-transitional-max: $iPhone-6-plus;

// Small screen / tablet
$screen-sm: 768px;

// Medium screen / tablet / small desktop
$screen-md: 1024px;

// Large Screen / Desktop
$screen-lg: 1280px;

// Large Screen / Desktop
$screen-xl: 1440px;

// Extra Large Screen / Monitors
$screen-xxl: 1800px; 
$screen-xxl-gutters: 36px;


