//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs: 320px !default;
$screen-xs-min-margin: 4px;
$screen-xs-margin: 8px;
$screen-xs-gutters: 8px;

// Extra small screen / Lg phones / Increment Margins
$screen-xs-phone-lg-min: 375px !default;
$screen-xs-phone-lg-max: 415px !default;
$screen-xs-phone-lg-min-margin: 8px;
$screen-xs-phone-lg-max-margin: 14px;
$screen-xs-phone-lg-gutters: 12px;

// Small screen / tablet
$screen-sm: 768px !default;
$screen-sm-min: 768px !default;
$screen-sm-min-margin: 24px;
$screen-sm-gutters: 24px;

// Medium screen / tablet / small desktop
$screen-md: 1024px !default;
$screen-min-min-margin: 8px;
$screen-md-margin: 8px;
$screen-sm-gutters: 24px;

// Large Screen / Desktop
$screen-lg: 1200px !default;
$screen-lg-max: 1440px !default;

// Extra Large Screen / Monitors
$screen-xl: 1800px !default;