@mixin highlight-box {
    background-color: lighten(desaturate(blue, 30%), 40%);
    color: rgba(#222, 0.5);

    // border: 1px solid #eee;
}

.highlight-box {
    @include highlight-box;

    &.row {
        background-color: lighten(desaturate(green, 50%), 50%);
    }

    &.col {
        $highlight-box-col: lighten(desaturate(orange, 20%), 30%);

        background-color: rgba($highlight-box-col, 0.9);
        background-color: white;
    }

    &.col-fill {
        .highlight-box {
            background-color: lighten(desaturate(blue, 20%), 30%);
        }
    }
}